<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/process-status.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="" class="top_back pos-abs"></a>
		<p class="top_tit">退款详情</p>
	</header>
	<div class="container">
		<div class="process_status " style="width:86%;">
			<h4 class="tit fs-16 " >
				<img src="../../public/images/circle_surprise_blue.png" class="status_img">
				等待房东处理贷款申请
			</h4>
		</div>
		<p class="lh-28  pd-lr-10">
			<span >如果房东同意：</span><span class="fc-9">申请达成，系统退款至你的账户</span>
		</p>
		<p class="lh-28 pd-lr-10">
			<span >如果房东拒绝：</span><span class="fc-9">你可以借助仲裁平台</span>
		</p>
	</div>
</body>
</html>