<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	
</head>
<body>
	<header class="pos-rel top-header">
		<a href="../center/my-center.html" class="top_back pos-abs"></a>
		<p class="top_tit">关于我们</p>
		<div class="right_menu pos-abs">
			<div class="top_nav">
				<a class="nav_item">我的订单</a>
				<a class="nav_item">个人中心</a>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="bg-white mg-t-10 border-tb pd-10">
			<p class="fc-6 lh-24">
				关于我们关于我们关于我们关于我们关于我们关于我们关于我
				们关于我们关于我们关于我们关于我们关于我们关于我们
				关于我们们关于我们关于我们关于我们关于我们关于我们关于我们
			</p>
		</div>
		
	</div>
	
	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/page/common.js"></script>
	
</body>
</html>