<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/process-status.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="" class="top_back pos-abs"></a>
		<p class="top_tit">申请详情</p>
	</header>
	<div class="container">
		<div class="process_status">
			
			<h4 class="tit fs-16 ">
				<img src="../../public/images/circle_surprise_blue.png" class="status_img">
				您的申请正在处理中
			</h4>
			<p class="note fc-9 ">等待客服处理您的个人认证申请</p>
		</div>
	</div>
</body>
</html>