.fs-12{font-size:12px;}
.fs-14{font-size:14px;}
.fs-16{font-size:16px;}
.fs-18{font-size:18px;}
.fs-20{font-size:20px;}
.fs-22{font-size:22px;}

.lh-20{line-height:20px;}
.lh-22{line-height:22px;}
.lh-24{line-height:24px;}
.lh-26{line-height:26px;}
.lh-28{line-height:28px;}
.lh-30{line-height:30px;}

.mt-5{margin-top:5px}
.mt-10{margin-top:10px}
.mt-15{margin-top:15px}
.mt-20{margin-top:20px}