
$color-red:#c12e2a;
$color-green:#419641;
$color-orange:#eb9316 ;
$color-blue:#2aabd2 ;


$color-link:#2d6ca2;
$color-danger:$color-red;
$color-error:$color-red;
$color-success:$color-green;


$color-3:#333;
$color-6:#666;
$color-9:#999;
