<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/center/my-center.css">
	
</head>
<body>
	<header class="pos-rel top-header">
		<a href="../index.html" class="top_back pos-abs"></a>
		<p class="top_tit">个人中心</p>
		<div class="right_menu pos-abs">
			<div class="top_nav">
				<a class="nav_item" href="../index.html">首页</a>
				<a class="nav_item" href="../order/list-processing.html">我的订单</a>
				
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="row user_mes_wraper bg-white border-tb mg-tb-10">
			<div class="col-all-2 pd-10 text-center">
				<img src="../../public/images/user_img.jpg" class="user_img ">
			</div>
			<div class="col-all-10 pd-10">
				<p class="lh-24">相识</p>
				<p class="lh-24">手机号  15899997777</p>
			</div>
		</div>
		<div class="lists_link">
			<ul class="list_ul">
				<li>
					<a>
						<span class="link_label">代金券</span>
						<span class="link_mes fc-9">5张</span>
					</a>
				</li>
				<li>
					<a>
						<span class="link_label">积分</span>
						<span class="link_mes fc-9">213</span>
					</a>
				</li>
				
				<li class="mg-t-10">
					<a href="../order/list-processing.html">订单</a>
				</li>

				<li class="mg-t-10">
					<a href="../notice/lists.html">公告</a>
				</li>
				<li>
					<a href="../about/us.html">关于我们</a>
				</li>
			</ul>
			
			<a class="btn btn-full btn-red">退出</a>
		</div>
		
	</div>
	
	<footer class="row pos-fix">
		<a class="foot_nav_item text-center col-all-6" href="">发布房源</a>
		<a class="foot_nav_item text-center col-all-6" href="">意见反馈</a>
	</footer>

	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/page/common.js"></script>
</body>
</html>