<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../public/css/base.css">
	<link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
	<header class="pos-rel">
		<img src="../public/images/index/user_img.jpg" class="user_img">
		<p class="user_name pos-abs text-center">乔峰</p>
	</header>

	<div class="index_nav">
		<div class="row ">
			<a class="col-all-4 nav_item" href="publish/publish-house.html">
				<img src="../public/images/index/index_publish.png" >
				<p class="text-center fc-6">发布房源</p>
			</a>
			<a class="col-all-4 nav_item" href="edit/has-published.html">
				<img src="../public/images/index/index_edit.png" >
				<p class="text-center fc-6">编辑房源</p>
			</a>
			<a class="col-all-4 nav_item" href="order/order-lists.html">
				<img src="../public/images/index/index_order.png" >
				<p class="text-center fc-6">订单</p>
			</a>
		</div>
		<div class="row">
			<a class="col-all-4 nav_item" href="message/notice-lists.html">
				<img src="../public/images/index/index_mess.png" >
				<p class="text-center fc-6">通知</p>
			</a>
			<a class="col-all-4 nav_item" href="finance/income.html">
				<img src="../public/images/index/index_finance.png" >
				<p class="text-center fc-6">收入</p>
			</a>
			<a class="col-all-4 nav_item " href="identify/apply.html">
				<img src="../public/images/index/index_person.png" >
				<p class="text-center fc-6">个人认证</p>
			</a>
		</div>
		<div class="row">
			<a class="btn-full btn-red">退出</a>
		</div>
	</div>

	<footer class="row pos-fix">
		<a class="foot_nav_item text-center col-all-6" href="publish/publish-house.html">发布房源</a>
		<a class="foot_nav_item text-center col-all-6" href="">意见反馈</a>
	</footer>
</body>
</html>