<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
		<title>提现规则</title>
		<link rel="stylesheet" href="/css/member/cashRule.min.css?v=${ver}">
		<script src="/js/flexible.js?v=${ver}"></script>
	</head>
	<body>
		<div class="mg-30 fs-24 fc-31 cash-rule">
			<h1 class="fs-24">规则内容</h1>
			<p>因提现审核通过后需要递交第三方进行支付，为了提高用户提现效率，减少平台提现成本，自2015年6月1日开始，</p>
			<p>1. 若充值的资金用于投资，该笔投资在项目到期后本金和利息提现免费；</p>
			<p>2. 若充值的资金未用于投资直接提现，将收取手续费。</p>
			<h2 class="fs-24">计算方式</h2>
			<p>用户每充值并购买成功一笔，购买金额都会计入免费提现额度；反之，每提现成功一笔都会在免费提现额度上减去相应金额。</p>
			<p>超出提现额度的部分按照0.5%收取手续费，手续费1元起收。</p>
		</div>
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
	</body>
</html>
