<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
		<title>联系我们</title>
		<link rel="stylesheet" href="../../statics/css/member/contact.min.css?v=${ver}">
		<script src="../../statics/js/flexible.js?v=${ver}"></script>
	</head>
	<body>
		<ul class="contact-bd mg-lr-30 fs-24">
			<li>
				<label>客服热线：</label>
				<p>400-606-7066</p>
			</li>
			<li>
				<label>理财Q群：</label>
				<p>89025409（官方一群）<br>422405478（官方二群）</p>
			</li>
			<li>
				<label>公司地址：</label>
				<p>浙江省杭州市西湖区古墩路87号浙商财富中心3号楼501-502室</p>
			</li>
			<li>
				<label>官方网站：</label>
				<p>www.qbm360.com</p>
			</li>
			<li>
				<label>微信账号：</label>
				<p>qbm360</p>
			</li>
		</ul>
		<div class="text-center">
			<img src="../../statics/images/member/qrcode.png" class="qrcode">
		</div>
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
	</body>
</html>
