<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
		<title>充值</title>
		<link rel="stylesheet" href="../../statics/css/member/rechargeBound.min.css?v=${ver}">
		<script src="../../statics/js/flexible.js?v=${ver}"></script>
		<script type="text/javascript">
			SESSION_ID='${session.id}';
			TONGDUN_ENV='${tongdun_env}';
		</script>
	</head>
	<body>
		<form action="../../statics/api/authpayCharge.html" method="post" id="rechargeForm">
			<input type="hidden" name="name_goods" id="name_goods" value="钱保姆WAP端充值">
			
			<input type="hidden" name="card_no" id="cardNo" value="$card_no">
			<input type="hidden" name="bank_id" id="bank_id" value="$accountBank.accountBankId">
			<p class="mg-lr-30 pd-l-24 fc-9 fs-24 mg-t-30 user-money">您已绑定认证银行卡 :</p>
			<div class="normal_lists_wraper mg-lr-30 pd-lr-24 bd-default bg-white fs-24">
				<ul class="normal_lists_ul fc-31">
					<li class="list_item">
						<p class="fc-31"><img src="$wapcdnpath/images/member/bankIcon/$accountBank.imgsrc" class="bank-icon">$accountBank.bankname ($accountBank.bankaccount)</p>
					</li>
				</ul>
			</div>
			<p class="mg-lr-30 fc-9 fs-20 text-right read">单笔限额<span class="fc-primary">$accountBank.single_amt</span>万,日累计<span class="fc-primary">5</span>万</p>
			
			<p class="mg-lr-30 pd-l-24 fc-9 fs-24 mg-t-30 user-money">您的银行储蓄卡号 :</p>
			<div class="normal_lists_wraper mg-lr-30 pd-lr-24 bd-default bg-white fs-24">
				<ul class="normal_lists_ul fc-31">
					<li class="list_item">
						<input type="text" class="list_text fc-31" placeholder="请输入银行储蓄卡号" maxlength="20" name="card_no" id="cardNo">
					</li>
				</ul>
			</div>
			<p class="mg-lr-30 fc-9 fs-20 text-right support"><span class="fc-link" id="bankList">15家支持的银行</span></p>
			
			
			<p class="mg-lr-30 pd-l-24 fc-9 fs-24 user-money">您当前可用余额：<span class="fc-primary">8888</span>元</p>
			<div class="normal_lists_wraper mg-lr-30 pd-lr-24 bd-default bg-white fs-24">
				<ul class="normal_lists_ul">
					<li class="list_item">
						<label class="fc-31">充值金额</label>
						<input type="number" class="list_text fc-31 bg-white" placeholder="请输入充值金额" name="money_order" id="amount">
					</li>
				</ul>
			</div>
			<div class="mg-lr-30 mg-t-70">
				<input type="button" class="text-center fs-32 fc-f form-btn form-btn-dis" value="下一步" id="formBtn">
			</div>
		</form>
		
		<div class="mg-lr-30 pd-lr-24 mg-t-70 fc-9 fs-20 tip-block">
			<h1 class="fs-20">温馨提示:</h1>

				<p>1.为保障您的资金安全，您新绑定的银行卡将作为您在移动端唯一的充值以及提现卡；</p>
				<p>2.移动端充值有限额，以各银行设置为准；</p>
				<p>3.如需充值大额资金，您可以在钱保姆网页端进行充值。</p>

		</div>
		
		<input type="hidden" value="$wapurl" id="wapurl">
		<input type="hidden" value="$fromSelectBank" id="fromSelectBank">	
		<script src="../../statics/js/sea.js"></script>
		<script src="../../statics/js/seajs-css.js"></script>
		<script src="../../statics/js/sea-config.js"></script>
		<script src="../../statics/js/fraudmetrix.js?v=${ver}"></script>
		<script>
			seajs.use("page/member/rechargeBound.min");
		</script>
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
	</body>
</html>
