<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
		<title>充值完成</title>
		<link rel="stylesheet" href="$wapcdnpath/css/member/rechargeSuccess.min.css?v=${ver}">
		<script src="$wapcdnpath/js/flexible.js?v=${ver}"></script>
	</head>
	<body>
		
		<div class="mg-30 text-center recharge-success">
			<img  src="$wapcdnpath/images/member/rechargeSuccess.png" class="success-tip"/>
			<p class="fc-31 fs-24">恭喜您已充值成功￥$money</p>
			<p class="fc-9 fs-18">理财正当时，赚钱要趁早</p>
			<button class="text-center fs-32 fc-f form-btn" id="formBtn">完成</button>
		</div>
		
		<input type="hidden" value="$wapurl" id="wapurl">
		<script src="$wapcdnpath/js/sea.js"></script>
		<script src="$wapcdnpath/js/sea-config.js"></script>
		<script>
			seajs.use("page/member/rechargeSuccess.min");
		</script>
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
	</body>
</html>
