<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
		<title>红包使用规则</title>
		<link rel="stylesheet" href="$wapcdnpath/css/member/redPacketRule.min.css?v=${ver}">
		<script src="$wapcdnpath/js/flexible.js?v=${ver}"></script>
	</head>
	<body>
		<div class="mg-30 fs-24 fc-31">
			<p>1.每个项目只能使用一个红包，且红包不找零，不兑换哦。</p>
			<p>2.“付款满XX元可用”表示当付款金额大于等于规定金额时，才能使用红包。</p>
			<p>3.“投资满X个月（XX天）可用”表示当投资项目的期限大于等于规定期限时，才能使用红包。</p>
			<p>4.购买普通项目时，红包不抵扣购买项目时的付款金额，而是额外加到购买本金上，同时红包也能生息哦。</p>
			<p>5.购买债权转让项目时，红包在满足使用条件的情况下可抵扣付款金额。</p>
			<p>6.如有其它疑问请联系客服 400-606-7066。</p>
		</div>
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
	</body>
</html>
