<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>发布房源</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/plugins/mobilescroll/mobilescroll.min.css">
	<link rel="stylesheet" href="../../public/css/publish/publish-house-step3.css">
	
</head>
<body>
	<header class="pos-rel top-header">
		<a href="publish-house-step2.html" class="top_back pos-abs"></a>
		<p class="top_tit">发布房源</p>
	</header>
	<div class="container">
		<h3 class="lh-34 pd-lr-10 mg-t-10">3.入住详情</h3>
		<div class="bg-white border-tb come_in_wraper">
			<div class="row time_row border-b ">
				<div class="col-all-6 pd-l-20">
					<label >入住时间：</label>
					<input class="time_input" type="text" value="12:20" id="inTime">
				</div>
				<div class="col-all-6 pd-l-20">
					<label >退房时间：</label>
					<input class="time_input" type="text" value="12:20" id="outTime">
				</div>
			</div>
			<div class="row  certify_row">
				<div class="col-all-6 pd-l-20">
					<input type="checkbox" checked name="certifyType">
					<label >身份证</label>
				</div>
				<div class="col-all-6 pd-lr-20">
					<input type="checkbox" name="certifyType">
					<label >学生证</label>
				</div>
			</div>
		</div>
		<h3 class="lh-34 pd-lr-10 ">4.配置详情</h3>
		<div class="bg-white config_wraper border-tb pd-lr-20">
			<ul class="config_ul fl-clear fs-13">
				<li>
					<input checked type="checkbox">
					<label for="">牙具香皂</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">沐浴洗发露</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">24小时热水</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">手纸</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">淋浴</label>
				</li>
				<li>
					<input checked type="checkbox">
					<label for="">拖鞋</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">电视机</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">网络</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">饮水设备</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">空调</label>
				</li>
				<li>
					<input  type="checkbox">
					<label for="">被单更换</label>
				</li>
			</ul>
		</div>
		<h3 class="lh-34 pd-lr-10 ">5.其它要求</h3>
		<div class="bg-white other_wraper border-tb ">
			<textarea name="" id="" cols="30" rows="5" placeholder="请输入其他要求"></textarea>
		</div>

		<div class="row bg-white border-tb mg-t-20 bottom_operate">
			<a href="../index.html" class="col-all-6 lh-34 text-center border-r">
				保存
			</a>
			<a href="../index.html" class="col-all-6 lh-34 text-center">
				发布
			</a>
		</div>
	</div>
	
	

	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/plugins/mobilescroll/mobilescroll.min.js"></script>
	<script src="../../public/js/page/publish/publish-house-step3.js"></script>
	
</body>
</html>