<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>发布房源</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/plugins/dropzone/dropzone.min.css">
	<link rel="stylesheet" href="../../public/css/publish/publish-house-step2.css">
	
</head>
<body>
	<header class="pos-rel top-header">
		<a href="publish-house.html" class="top_back pos-abs"></a>
		<p class="top_tit">发布房源</p>
	</header>
	<div class="container">
		<h3 class="lh-34 pd-lr-10 mg-t-10">2.图片视频</h3>
		<form  class="dropzone video_wraper" id="video_form">
			
		</form>
		<form  class="dropzone images_wraper mg-t-20" id="image_form">
			<div class="clickable un_select" id="clickable">
				<div class="un_select_message">
					<p class="fc-blue text-center">点击添加图片</p>
					<p class="fc-9 text-center">*支持jpg、jpeg、png、bmp、gif格式照片，大小不超过1M</p>
				</div>
				<div class="select_message">
					添加图片
				</div>
				
			</div>
		</form>
		
		<a class="btn-full btn-red" href="publish-house-step3.html">
			下一步
		</a>
	</div>
	
	

	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/plugins/dropzone/dropzone.min.js"></script>
	<script src="../../public/js/page/publish/publish-house-step2.js"></script>
	
</body>
</html>