<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>营业额</title>
	<link rel="stylesheet" href="../../public/css/base.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="income.html" class="top_back pos-abs"></a>
		<p class="top_tit">营业额</p>
	</header>
	<div class="container">
		<nav class="top_nav row bg-white">
			<a class="nav_item col-all-4 text-center active" data-time="yesterday">
				昨日
			</a>
			<a class="nav_item col-all-4 text-center" data-time="seven">
				七天
			</a>
			<a class="nav_item col-all-4 text-center" data-time="history">
				历史
			</a>
		</nav>
		<div class="row  bg-white border-b">
			<div class="col-all-6 mg-tb-20 border-r">
				<h3 class="fc-error text-center">260</h3>
				<p class="text-center fs-13">订单数</p>
			</div>
			<div class="col-all-6 mg-tb-20">
				<h3 class="fc-error text-center">￥260</h3>
				<p class="text-center fs-13">营业额</p>
			</div>
		</div>
	</div>

	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/page/finance/account.js"></script>
</body>
</html>