<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/finance/income.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="../index.html" class="top_back pos-abs"></a>
		<p class="top_tit">收入</p>
	</header>
	<div class="container">
		<div class="income_general bg-white">
			<a href="account.html">
				<h3 class="fc-error fs-22 text-center">888.00</h3>
				<p class="fc-9 fs-12 text-center">昨日收入</p>
			</a>
			
			<div class="row text-center item-row">
				<a class="col-all-6 item-col" href="out-cash-step1.html">
					<h4 class="fc-3">18.00</h4>
					<p class="fc-9 fs-12">可提现余额</p>
				</a>
				<a class="col-all-6 item-col" href="out-cash-finished.html">
					<h4 class="fc-3">3</h4>
					<p class="fc-9 fs-12">提现账户</p>
				</a>
			</div>
		</div>

		<div class="lists_link">
			<ul class="list_ul">
				<li class="">
					<a href="income-detail.html" >
						流水明细
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>