<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>流水明细</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/finance/income_detail_lists.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="income.html" class="top_back pos-abs"></a>
		<p class="top_tit">流水明细</p>
	</header>
	<div class="container">
		<ul class="income_detail_lists">
			<li class="border-tb list_item">
				<p class="">订单号：423412421</p>
				<p class="fs-12 fc-9">2015-12-21 12:34:55</p>
				<span class="count pos-abs fc-success">+5元</span>
			</li>
			<li class="border-tb list_item">
				<p class="">提现账号 kangkai1009@163.com</p>
				<p class="fs-12 fc-9">2015-12-21 12:34:55</p>
				<span class="count pos-abs fc-orange">-55元</span>
			</li>
			<li class="border-tb list_item">
				<p class="">订单号：423412421</p>
				<p class="fs-12 fc-9">2015-12-21 12:34:55</p>
				<span class="count pos-abs fc-success">+5元</span>
			</li>
		</ul>
	</div>
</body>
</html>