<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/finance/out-cash-step1.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="out-cash-step1.html" class="top_back pos-abs"></a>
		<p class="top_tit">提现账户</p>
	</header>
	<div class="container">
		<div class="lists_input">
			<ul class="lists_input_ul">
				<li>
					<label >支付宝账户</label>
					<input type="text" placeholder="请输入支付宝账户">
				</li>
				<li>
					<label >姓名</label>
					<input type="text" placeholder="请输入支付宝姓名">
				</li>
			</ul>
			
			<a class="next btn-full btn-red" href="out-cash-finished.html">提交</a>
		</div>
	</div>
</body>
</html>