@import "../ignore/mixin";

.container{
	padding-bottom:60px;
}
.my_swiper{
	$h:200px;
	height:$h;
	width:100%;
	margin:0 ;
	.swiper-slide{
		position: relative;
		.img_item{
			height: 100%;
			width: 100%;
		}
		.slider_mes{
			position:absolute;
			bottom:10px;
			width: 100%;
			.mes_line{
				line-height: 24px;
				color:#fff;
				.money{
					font-size: 24px;
					color:#fff;
				}
			}
		}
	}
	.swiper_pager{
		position:absolute;
		right: 10px;
		bottom:5px;
		$size:6px;
		z-index: 10;
		.swiper-pagination-bullet{
			background-color:#909493;
			display: inline-block;
			width: $size;
			height: $size;
			@include borderRadius(50%);
			margin-right: 6px;
			opacity: 1;

		}
		.swiper-pagination-bullet-active{
			background-color:#c04040;
		}
	}
}


.icon_row{
	.icon_img{
		vertical-align: middle;
		width: 18px;
		margin-right:6px;
	}
}


.evalute_wraper{
	.evalute_ul{
		li{
			margin-top: 10px;
			background:#fff;
			.list_top{
				padding:0 10px 0 10px;
				line-height: 34px;
			}
			.list_cont{
				padding:10px;
				$imgH:30px;
				.user_mes{
					.user_img{
						height: $imgH;
						width:$imgH;
						@include borderRadius(50%);
						margin-right:10px;
					}
				}
				.desc{
					margin:5px 0 5px 0;
				}
				.photoes{
					.house_img{
						height: 50px;
						margin-right: 5px;
					}
				}
				&.config_lists{
					.config_icon{
						width: 18px;
						margin-right:6px;
						vertical-align: middle;
					}
				}
			}
		}
	}
}