<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
    	
		<title>钱保姆理财</title>
		<link rel="stylesheet" href="../../statics/css/financing/detail.min.css?v=${ver}">
		<link rel="stylesheet" href="../../statics/js/plugin/layer.m/need/layer.css?v=${ver}">
		<script src="../../statics/js/flexible.js?v=${ver}"></script>
	</head>
	<body>
		<div class="content">
			<section class="label_mes_wraper  pd-lr-24 mg-30 bd-default bg-white ">
				<div class="wraper_tit clearfix ">
					<span class="fn-fl">预期年化收益</span>
					<span class="fn-fr right_label">
					期限7天			
					</span>
				</div>
				<p class="dashed_line">
					<img src="../../statics/images/dash_line_white.png" class="dash_img">
				</p>
				<div class="label_prog">
					<h3 class="prog_text fc-primary text-center">
						<span class="per_num fc-primary">20.00</span>
						<span class="fc-primary">%</span>
					</h3>
					<p class="prog_bar pos-rel">
						<span class="bar_inner pos-abs" id="bar_inner"></span>
					</p>
					<div class="clearfix fs-22">
						<span class="fn-fl fc-9" >项目总额：1000.00元</span>
						<input type="hidden" value="1000" id="money_all">
						<span class="fn-fr fc-9">剩余可购：200.00元</span>
						<input type="hidden" value="200" id="money_left">

					</div>
					<div class="clearfix bottom_labels fs-22">
						<label class="fn-fl fc-primary ">满标审核后即时开始</label>
						<label class="fn-fr fc-primary ">一次性还款</label>
					</div>
				</div>
			</section>

			<div class="normal_lists_wraper mg-30 pd-lr-24 bd-default bg-white">
				<ul class="normal_lists_ul">
					<li class="list_item">
						<label >保障方式</label>
						<p class="list_text text-right">安东担保本息保障</p>
					</li>
					<li class="list_item">
						<label >风险等级</label>
						<p class="list_text text-right fc-link">A级</p>
					</li>
					<li class="list_item tap-link" data-href="./assetsList.html">
						<label >资产清单</label>
						<p class="list_text text-right">
							<span class="iconfont icon-back"></span>
						</p>
					</li>
					<li class="list_item tap-link" data-href="./detailSub.html">
						<label >项目详情</label>
						<p class="list_text text-right fc-link">
							<span class="iconfont icon-back"></span>
						</p>
					</li>
					
					<li class="list_item tap-link" data-href="./purchaseRecords.html">
						<label >购买记录</label>
						<p class="list_text text-right">
							<span class="fc-link">6笔</span>
							<span class="iconfont icon-back"></span>
						</p>
					</li>
					<!-- 项目剩余可购买时间 -->
					<li class="list_item " data-href="">
						<label >剩余时间</label>
						<p class="list_text text-right fc-link"  id="borrowEndTime" data-time-end="1455825600"></p>
					</li>
					
				</ul>
			</div>
			
			<!-- 项目何时开售 -->
			<!-- data-start:服务器当前时间 data-end:结束时间 -->
			<div class="btn_group fixed_group">
				<span class="btn_item bg-default"  data-time-end="1456430400" id="borrowStartTime">
					<!-- 12:23:56后开售，敬请期待 -->
				</span>
			</div>

			<div class="btn_group fixed_group">
				<span class="btn_item bg-primary tap-link" data-href="../passport/login.html">
					登录
				</span>
			</div>
			

					<div class="btn_group fixed_group">
						<span class="btn_item bg-primary tap-link" id="buy_now" data-href="./buy.html">
							立即购买
						</span>
					</div>
				
					<!-- <div class="btn_group fixed_group">
						<span class="btn_item bg-default" >
							只有新手才可以购买哦
						</span>
					</div> -->
				
		</div>
		
		
		<input type="hidden" value="$wapurl" id="wapurl">
		<input type="hidden" value="$realStatus" id="realStatus"><!-- 是否实名认证过 -->
		<input type="hidden" value="1455674400" id="sysTime"><!-- 系统时间 时间戳 -->
		<script src="../../statics/js/sea.js"></script>
		<script src="../../statics/js/sea-config.js"></script>

		<script>
			seajs.use("page/financing/detail.min.js");
		</script>

		<!--start 百度统计 -->
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
		<!--end 百度统计 -->

	</body>
</html>
