@import "../../assets/css/libs/mixin.scss";

.callender{
    @include box((d:inline-block));
    position: relative;
    .calInput{
        @include box((w:120px,h:28px,lh:28px,bd:1px solid #e5e5e5,p:0 30px 0 10px,fs:12px,c:$black2));
        @include background((url:'icon_callendar.png',repeat:no-repeat,size:auto 100%,pos:right top));
    }
    .calContainer{
        @include box((d:none));
        &.show{
            @include box((d:block));
        }
        .shade{
            @include box((w:100%,h:100%,bg:rgba(0,0,0,0)));
            @include position((p:fixed,t:0,l:0,z:1));
        }
        .calWraper{
            @include position((p:absolute,t:30px,l:0,z:2));
            @include box((w:250px,bd:1px solid #e5e5e5,bg:$white));
            .header{
                @include box((h:30px,lh:30px,ta:center));
                border-bottom:1px solid #e5e5e5;
                span,label{
                    @include box((d:inline-block,w:6px,h:100%,m:0 5px));
                    cursor: pointer;
                }
                .prevYear{
                    @include background((url:'callendar_prev_year.png',repeat:no-repeat,size:5px 10px,pos:center center));
                }
                .prevMonth{
                    @include background((url:'callendar_prev_month.png',repeat:no-repeat,size:5px 10px,pos:center center));
                }
                .text{
                    @include box((d:inline-block,h:30px,lh:30px,c:$blue,fs:12px,m:0 25px));
                    vertical-align: top;
                }
                .nextMonth{
                    @include background((url:'callendar_next_month.png',repeat:no-repeat,size:5px 10px,pos:center center));
                }
                .nextYear{
                    @include background((url:'callendar_next_year.png',repeat:no-repeat,size:5px 10px,pos:center center));
                }
            }
            table{
                @include box((w:100%));
                td{
                    @include box((w:14.28%,ta:center,lh:30px));
                    &.itemGray{
                        @include box((c:$black9));
                        a{
                            @include box((c:$black9));
                        }
                    }
                    &.itemActive{
                        a{
                            @include box((d:block,w:18px,h:18px,bg:$blue,c:$white,bdr:50%,ta:center,lh:18px,m:0 auto));
                        }
                        &.itemCurrent{
                            a{
                                @include box((w:auto,bg:transparent,c:$orange,bdr:0));
                            }
                        }
                    }
                }
                thead{
                    td{

                    }
                }
            }
        }

    }
}
