<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>添加评价</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/plugins/dropzone/dropzone.min.css">
	<link rel="stylesheet" href="../../public/css/edit/evalute-reply.css">
	
</head>
<body>
	<header class="pos-rel top-header">
		<a href="evalute.html" class="top_back pos-abs"></a>
		<p class="top_tit">添加评价</p>
	</header>
	<div class="container">
		
		<div class="textImageWwaper mg-t-20 border-tb bg-white">
	
			<textarea class="textarea" name="" id="replyContent" cols="30" rows="5" placeholder="请输入评价内容"></textarea>
			<div  class="dropzone images_wraper mg-t-10" id="image_form">
				<div class="clickable un_select" id="clickable">
					<div class="un_select_message">
						<p class="fc-blue text-center">点击添加图片</p>
						<p class="fc-9 text-center">*支持jpg、jpeg、png、bmp、gif格式照片，大小不超过1M</p>
					</div>
					<div class="select_message">
						添加图片
					</div>
					
				</div>
			</div>
		</div>
		
		
		<a class="btn-full btn-red" id="submitBtn" href="evalute.html">
			提交
		</a>
	</div>
	
	
	
	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/plugins/dropzone/dropzone.min.js"></script>
	<script src="../../public/js/page/edit/evalute-reply.js"></script>
	
</body>
</html>