<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>编辑房源</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/message_lists.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="../index.html" class="top_back pos-abs"></a>
		<p class="top_tit">编辑房源</p>
	</header>
	<div class="container">
		<nav class="top_nav row bg-white">
			<a class="nav_item col-all-4 text-center active">
				已发布
			</a>
			<a class="nav_item col-all-4 text-center" href="no-published.html">
				未发布
			</a>
			<a class="nav_item col-all-4 text-center" href="classify.html">
				分类
			</a>
		</nav>

		<div class="message_container">
			<ul class="message_ul" id="message_ul">
				<li>
					<a class="link" href="">
						<div class="title row fs-15">
							<p class="col-all-10 text-clip">
								武汉大学旁边西路XXX小区，家电齐全家电齐全
							</p>
							<p class="col-all-2 fc-success text-right">
								已发布
							</p>
						</div>

						<div class="fl-clear dis-box cont">
							<img src="../../public/images/house1.jpg" class="house_img">
							<div class="fs-12 fc-6 flex-1">
								<p><span class="fc-error">￥200</span</p>
								<p>
									<label class="down label-border label-xs">下架</label>
									<label class="manage label-border label-xs">评价管理</label>
									<label class="del label-border label-xs">删除</label>
								</p>
							</div>
						</div>

						<img src="../../public/images/arrow_right.png"    class="list_arrow">
					</a>
				</li>
				<li>
					<a class="link" href="">
						<div class="title row fs-15">
							<p class="col-all-10 text-clip">
								武汉大学旁边西路XXX小区，家电齐全家电齐全
							</p>
							<p class="col-all-2 fc-success text-right">
								已发布
							</p>
						</div>

						<div class="fl-clear dis-box cont">
							<img src="../../public/images/house1.jpg" class="house_img">
							<div class="fs-12 fc-6 flex-1">
								<p><span class="fc-error">￥200</span</p>
								<p>
									<label class="down label-border label-xs">下架</label>
									<label class="manage label-border label-xs">评价管理</label>
									<label class="del label-border label-xs">删除</label>
								</p>
							</div>
						</div>

						<img src="../../public/images/arrow_right.png"    class="list_arrow">
					</a>
				</li>
			</ul>
		</div>
	</div>


	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/page/edit/has-published.js"></script>
	

</body>
</html>