<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/font-icon.css">
	<link rel="stylesheet" href="../../public/css/plugins/swiper/swiper.min.css">
	<link rel="stylesheet" href="../../public/css/plugins/mobilescroll/mobilescroll.min.css">
	<link rel="stylesheet" href="../../public/css/house/house-detail.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a onclick="javascript:window.history.go(-1);" class="top_back pos-abs"></a>
		<p class="top_tit">房间详情</p>
		
	</header>

	<div class="container">
		<div class="swiper-container my_swiper" id="swiper-container">
			<div class="swiper-wrapper">
				 <div class="swiper-slide">
					<video src="../../public/images/test1.mp4" class="img_item" controls></video>
					
			    </div>
			    <a class="swiper-slide">
					<img src="../../public/images/house2.jpg" class="img_item">
					<div class="slider_mes">
						<p class="text-center mes_line">￥<span class="money">200</span>/晚</p>
						<p class="text-center mes_line">作家古清生 | 神农架深处的小屋</p>
					</div>
					
			    </a>
			   
			    <div class="swiper-slide">
					<img src="../../public/images/house3.jpeg" class="img_item">
					<div class="slider_mes">
						<p class="text-center mes_line">￥<span class="money">200</span>/晚</p>
						<p class="text-center mes_line">作家古清生 | 神农架深处的小屋</p>
					</div>
			    </div>
			</div>
			<div class="swiper_pager">
				
			</div>
		</div>
		<div class="bg-white">
			<div class="border-b pd-10 ">
				<p class="lh-24">武汉大学旁边大学西路XXX小区</p>
				<p class="fl-clear lh-24">
					<span class="fc-success fn-fl">家电齐全</span>
					<span class="fn-fr">￥<span class="fc-error fs-18">268元</span>/晚</span>
				</p>
			</div>
			<div class="row border-b lh-40 icon_row">
				<div class="col-all-6  pd-lr-10">
					<img src="../../public/images/insurance_icon.png" class="icon_img">
					交易保障
				</div>
				<div class="col-all-6">
					<img src="../../public/images/identify_icon.png" class="icon_img">
					实名认证
				</div>
			</div>
			<div class="row border-b lh-40">
				<div class="col-all-6  pd-lr-10">
					大小<span class="fc-6 mg-l-10">30平米</span>
				</div>
				<div class="col-all-6">
					床<span class="fc-6 mg-l-10">双人床(2*1.5)</span>
				</div>
			</div>
			<div class="border-b lh-40 pd-lr-10">
				位置<span class="fc-6 mg-l-10">武汉大学凌波门XXX小区3栋402</span>
			</div>
		</div>

		<div class="evalute_wraper" id="evalute_wraper">
			<ul class="evalute_ul">
				<li class="border-tb">
					<div class="list_top fl-clear">
						<p class="fn-fl">
							<span class="fs-15">房间评价</span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-9"></span>
							<span class="fs-13">4.2分</span>
						</p>
					</div>
					<div class="list_cont border-t">
						<div class="row">
							<div class="col-all-6 user_mes">
								<img src="../../public/images/user_img.jpg" class="user_img fn-fl">
								<p class=" fs-12">小蹦兔</p>
								<p class="">
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-9"></span>
								</p>
							</div>
							<div class="col-all-6 fs-12 text-right">
								<p class="fc-9">2015-08-16 11:24</p>
								<p class="fc-9">入住房间</p>
							</div>
						</div>
						<p class="fc-6 desc">这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，</p>
						<div class="photoes">
							<img src="../../public/images/house1.jpg" class="house_img">
							<img src="../../public/images/house2.jpg" class="house_img">
						</div>
					</div>
					<div class="list_footer border-t lh-40 text-center">
						<a href="../comment/comment-lists.html">查看全部评价（200条）</a>
					</div>
				</li>
				<li class="border-tb" id="house_detail_li">
					<div class="list_top fl-clear">
						<p class="fn-fl">
							<span class="fs-15">房间详情</span>
						</p>
					</div>
					<div class="list_cont border-t lh-30">
						<p class=" fl-clear">
							<span class="fn-fl">押金（线下支付）</span>
							<span class="fn-fr fc-6">￥100</span>
						</p>
						<p class=" fl-clear">
							<span class="fn-fl">入住时间</span>
							<span class="fn-fr fc-6">2015-10-2&nbsp12:30:30</span>
							
						</p>
						<p class=" fl-clear">
							<span class="fn-fl">退房时间</span>
							<span class="fn-fr fc-6">2015-10-2&nbsp12:30:30</span>
						</p>
						<p class=" fl-clear dis-box">
							<span class="dis-block">入住时间</span>
							<input class="fc-6 flex-1 dis-block text-right border-0" type="text" id="in_time" value="请选择入住日期" >
						</p>
						<p class=" fl-clear dis-box">
							<span class="dis-block">退房时间</span>
							<input class="fc-6 flex-1 dis-block text-right border-0" type="text" id="out_time" value="请选择离开日期" >
						</p>
						<p class=" fl-clear">
							<span class="fn-fl">最小入住天数</span>
							<span class="fn-fr fc-6">1天</span>
						</p>
						<p class=" fl-clear">
							<span class="fn-fl">最多入住天数</span>
							<span class="fn-fr fc-6">7天</span>
						</p>
					</div>
					
				</li>
				<li class="border-tb">
					<div class="list_top fl-clear">
						<p class="fn-fl">
							<span class="fs-15">配套设施</span>
						</p>
					</div>
					<div class="list_cont border-t lh-28 config_lists">
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_wifi.png" class="config_icon">
							<span class="">网络</span>
							<span class="fn-fr fc-6">无线免费</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_wash.png" class="config_icon">
							<span class="">淋浴</span>
							<span class="fn-fr fc-6">有</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_tv.png" class="config_icon">
							<span class="">有线电视</span>
							<span class="fn-fr fc-6">有</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_bed.png" class="config_icon">
							<span class="">被单更换</span>
							<span class="fn-fr fc-6">每客一换</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_water.png" class="config_icon">
							<span class="">饮水设备</span>
							<span class="fn-fr fc-6">有</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_toilet.png" class="config_icon">
							<span class="">卫生间</span>
							<span class="fn-fr fc-6">独立卫生间</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_shoes.png" class="config_icon">
							<span class="">拖鞋</span>
							<span class="fn-fr fc-6">有</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_paper.png" class="config_icon">
							<span class="">手纸</span>
							<span class="fn-fr fc-6">有</span>
						</p>
						<p class=" fl-clear border-b">
							<img src="../../public/images/house/config_shampoo.png" class="config_icon">
							<span class="">沐浴露/洗发露</span>
							<span class="fn-fr fc-6">有</span>
						</p>
						<p class=" fl-clear ">
							<img src="../../public/images/house/config_toothbrush.png" class="config_icon">
							<span class="">牙刷/牙膏</span>
							<span class="fn-fr fc-6">有</span>
						</p>
					</div>
					
				</li>
			</ul>
		</div>
	</div>
	

	<a class="pos-fix fix-b row lh-40 text-center bg-error fc-f full-w"  id="order_now_btn">
		立即订购
	</a>
	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/swiper/swiper-3.2.7.min.js"></script>
	<script src="../../public/js/plugins/mobilescroll/mobilescroll.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/page/house/house-detail.js"></script>
</body>
</html>