<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>订房</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/process-status.css">
	<link rel="stylesheet" href="../../public/css/house/pay-success.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a onclick="javascript:window.history.go(-1);" class="top_back pos-abs"></a>
		<p class="top_tit">支付成功</p>
	</header>


	<div class="container">
		<div class="process_status " style="width:60%;">
			<h4 class="tit fs-16 " >
				<img src="../../public/images/circle_yes_green.png" class="status_img">
				支付成功
			</h4>
			<p class="note fc-9 lh-28">请及时联系房东确认房间</p>
		</div>

		<div class="parer_wraper bg-white pd-tb-20">
			<p class="img_row text-center">
				<img src="../../public/images/user_img.jpg" class="parer_img">
			</p>
			<p class="text-center fs-16 lh-28">
				乔峰
			</p>
			<p class="phone_row lh-28 fc-9 text-center">
				<img src="../../public/images/phone_icon.png" class="phone_icon">
				<a href="tel:020-88884567">020-88884567</a>
			</p>
		</div>
		<div class="order_mes bg-white border-tb mg-tb-10">
			<p class="lh-34 border-b pd-lr-10">
				订单号 <span class="mg-l-10">123214324ferf</span>
			</p>
			<a href="../order/order-detail.html" class="link_row pos-rel">
				<p class=" fc-6">武汉大学旁边大学西路XXX小区，家电齐全</p>
				<p class=" fc-6">2015年12月19日至2015年12月21日 &nbsp &nbsp共2晚</p>
				<img src="../../public/images/arrow_right.png" class="link_arrow">
			</a>
		</div>
	</div>

	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/page/house/pay-success.js"></script>
</body>
</html>