@import "../base";
@import "../_ignore/normal_lists";
@import "../_ignore/passport_form";
@import "../_ignore/mylayer";

.pop-layer{
    padding: pxToRem(24);
    p{
        text-indent: 28px;
    }
}
[data-dpr="2"] .pop-layer p{
    text-indent: 57.6px;
}
[data-dpr="2.5"] .pop-layer p{
    text-indent: 60px;
}
[data-dpr="2.75"] .pop-layer p{
    text-indent: 84px;
}
[data-dpr="3"] .pop-layer p{
    text-indent: 96px;
}
[data-dpr="4"] .pop-layer p{
    text-indent: 144px;
}
