@import "../base";
@import "../_ignore/normal_lists";
@import "../_ignore/mylayer";

@include fontFace("../");

$white:#fff;
$bdcolor:#e5e5e5;

.cash-tip{
    background-color: #fc944d;
    line-height: pxToRem(58);
    height: pxToRem(58);
}

.cash-rule{
    padding: pxToRem(30) 0 pxToRem(22) 0;
    span{
        em{margin-right: 3px;}
    }
}
.bank-icon{
    margin-right: pxToRem(8);
    width: pxToRem(34);
    height: pxToRem(34);
    vertical-align: middle;
}

.cash-info{
    padding: pxToRem(16) 0 pxToRem(6) 0;
    .row{
        padding-bottom: pxToRem(10);
    }
}
.record-btn{
    margin: pxToRem(20) 0;
    border: 1px solid #fc944d;
    display: block;
    line-height: pxToRem(92);
    border-radius: pxToRem(5);
    color: #fc944d;
}

.pop-layer{
    padding: pxToRem(24);
    p{
        text-indent: 28px;
    }
}
[data-dpr="2"] .pop-layer p{
    text-indent: 57.6px;
}
[data-dpr="2.5"] .pop-layer p{
    text-indent: 60px;
}
[data-dpr="2.75"] .pop-layer p{
    text-indent: 84px;
}
[data-dpr="3"] .pop-layer p{
    text-indent: 96px;
}
[data-dpr="4"] .pop-layer p{
    text-indent: 144px;
}
.cash-shade{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.cash-side{
    position: absolute;
    background-color: $white;
    right: 0;
    bottom: 0;
    left: 0;
    height: pxToRem(500) ;
    border-top: 1px solid $bdcolor;
    h1{
        line-height: pxToRem(80);
        background-color: #f8f8f8;
        font-weight: normal;
    }
    ul{
        height: pxToRem(420) ;
        padding: 0 pxToRem(24);
        overflow-y: auto;
        li{
            border-bottom: 1px solid $bdcolor;
            padding: pxToRem(24) 0;
        }
    }
}
.normal_lists_wraper .normal_lists_ul .list_item label{
    width: pxToRem(180);
}
.normal_lists_wraper .normal_lists_ul .list_item  .list_text{
    color: #666;
}
.cash-col{
    margin-top: pxToRem(20);
    padding-top: pxToRem(20);
    padding-bottom: pxToRem(20);
    li{
        height: pxToRem(50);
        line-height: pxToRem(50);
        i{
            display: inline-block;
            vertical-align: middle;
            margin-right: pxToRem(20);
        }
    }
}
.mt20{
    margin-top: pxToRem(20);
}

.layermchild{
    width: pxToRem(630) !important;
}
.layer-coupon-wrap{
    width: pxToRem(630);
    height: pxToRem(900);
    overflow-y: auto;
    ul{
        padding: pxToRem(20);
        li{
            display: block;
            position:relative;
            border: 1px solid #397ae4;
            height: pxToRem(198);
            margin-bottom: pxToRem(20);
            .coupon-info{
                padding: pxToRem(36) 0 0 pxToRem(28);
                width: pxToRem(360);
                .coupon-top{
                    line-height: pxToRem(25);
                    padding-bottom: pxToRem(10);
                }
            }
            .coupon-opt{
                top: 0;
                right: -1px;
                bottom: 0;
                width: pxToRem(160);
                height: 100%;
                background-image:url("../../images/member/coupon-bg.png");
                background-size:100% 100%;
                background-position:0 0;
                @include boxSizing(border-box);
                .icon-gouxuan{
                    $h:pxToRem(26);
                    display: inline-block;
                    -webkit-border-radius:50%;
                    border:1px solid #fff;
                    background-color:transparent;
                    height: $h;
                    line-height: $h;
                    width: $h;
                    color:transparent;
                    position:absolute;
                    top:pxToRem(18);
                    right: pxToRem(18);
                    text-align: center;
                }
            }
            .active{
                .icon-gouxuan{
                    color:#fff;
                }
            }
        }
        
    }
}
@include dpr(".coupon-opt.active .icon-gouxuan",20px);
.layer-coupon-btn{
    position:absolute;
    $size:pxToRem(50);
    top:- pxToRem(82);
    right:0;
    color:#fff;
    display:block;
    height:$size;
    width:$size;

    .icon-qingchu{
        position:relative;
        &:after{
            position:absolute;
            content:"";
            display: block;
            width: pxToRem(4);
            height:pxToRem(90) - $size;
            background-color:#fff;
            left:50%;
            bottom: - pxToRem(90) + $size;
            margin-left: - pxToRem(4) / 2;
        }
    }
    
}

@include dpr(".layer-coupon-btn .iconfont.icon-qingchu",50px);
