@import "../base";
@import "../_ignore/normal_lists";

@include dpr(".repaymentWraper",24px);

.repaymentWraper{
	$border:1px solid #e5e5e5;
	.repaymentUl{
		.list_item{
			border:$border;
			.title{
				.status_dot{
					$size:pxToRem(12);
					width: $size;
					height: $size;
					-webkit-border-radius:50%;
					display: inline-block;
					margin-right:$size / 2;
					vertical-align: middle;
					margin-top: - $size / 2;
					background-color:#b3b3b3;
					&.dhk{
						background-color:#ff6900;
					}
				}
			}
			.repaymentCont{
				padding:pxToRem(30) 0;
				border-top:$border;
				border-bottom:$border;
				p{
					line-height: pxToRem(60);
				}
			}
		}
	}
}