<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房间评价</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/comment/comment-lists.css">
	<link rel="stylesheet" href="../../public/css/font-icon.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a onclick="javascript:window.history.go(-1);" class="top_back pos-abs"></a>
		<p class="top_tit">房间评价</p>
		<div class="right_menu pos-abs">
			<div class="top_nav">
				<a class="nav_item">我的订单</a>
				<a class="nav_item">个人中心</a>
			</div>
		</div>
	</header>


	<div class="container">
		<div class="evalute_top bg-white border-b" id="top_label">
			<a class="item_link active">全部</a>
			<a class="item_link">有图(26)</a>
			<a class="item_link">好评(56)</a>
			<a class="item_link">中评(14)</a>
			<a class="item_link">差评(14)</a>
		</div>
		<div class="evalute_wraper" id="evalute_wraper">
			<ul class="evalute_ul">
				<li class="border-tb">
					<div class="list_top fl-clear">
						<p class="fn-fl">
							<span class="fs-15">房间评价</span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-9"></span>
							<span class="fs-13">4.2分</span>
						</p>
						<p class="fn-fr fs-12 fc-9">全部评论（100条）</p>
					</div>
					<div class="list_cont border-t">
						<div class="row">
							<div class="col-all-6 user_mes">
								<img src="../../public/images/user_img.jpg" class="user_img fn-fl">
								<p class=" fs-12">小蹦兔</p>
								<p class="">
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-9"></span>
								</p>
							</div>
							<div class="col-all-6 fs-12 text-right">
								<p class="fc-9">2015-08-16 11:24</p>
								<p class="fc-9">入住房间</p>
							</div>
						</div>
						<p class="fc-6 desc">这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，</p>
						<div class="photoes">
							<img src="../../public/images/house1.jpg" class="house_img">
							<img src="../../public/images/house2.jpg" class="house_img">
						</div>
					</div>
					
				</li>
				<li class="border-tb">
					<div class="list_top fl-clear">
						<p class="fn-fl">
							<span class="fs-15">房间评价</span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-error"></span>
							<span class="icon-star-full fc-9"></span>
							<span class="fs-13">4.2分</span>
						</p>
						<p class="fn-fr fs-12 fc-9">全部评论（100条）</p>
					</div>
					<div class="list_cont border-t">
						<div class="row">
							<div class="col-all-6 user_mes">
								<img src="../../public/images/user_img.jpg" class="user_img fn-fl">
								<p class=" fs-12">小蹦兔</p>
								<p class="">
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-error"></span>
									<span class="icon-star-full fs-12 fc-9"></span>
								</p>
							</div>
							<div class="col-all-6 fs-12 text-right">
								<p class="fc-9">2015-08-16 11:24</p>
								<p class="fc-9">入住房间</p>
							</div>
						</div>
						<p class="fc-6 desc">这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，这个房间不错，</p>
						<div class="photoes">
							<img src="../../public/images/house1.jpg" class="house_img">
							<img src="../../public/images/house2.jpg" class="house_img">
						</div>
					</div>
					
				</li>
			</ul>
		</div>
	</div>


	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/page/comment/comment-lists.js"></script>
	<script src="../../public/js/page/common.js"></script>
	

</body>
</html>