<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>订单</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/message_lists.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="../index.html" class="top_back pos-abs"></a>
		<p class="top_tit">订单</p>
	</header>
	<div class="container">
		<nav class="top_nav row bg-white">
			<a class="nav_item col-all-3 text-center " href="order-lists.html">
				未入住
			</a>
			<a class="nav_item col-all-3 text-center active" >
				已入住
			</a>
			<a class="nav_item col-all-3 text-center"  href="order-list-success.html">
				已成功
			</a>
			<a class="nav_item col-all-3 text-center" href="order-list-cancel.html">
				已取消
			</a>
		</nav>

		<div class="message_container">
			<ul class="message_ul">
				<li>
					<a class="link" href="order-detail.html">
						<div class="title row fs-15">
							<p class="col-all-10 text-clip">
								武汉大学旁边西路XXX小区，家电齐全家电齐全
							</p>
							<p class="col-all-2 fc-success text-right">
								已入住
							</p>
						</div>

						<div class="fl-clear dis-box cont">
							<img src="../../public/images/house1.jpg" class="house_img">
							<div class="fs-12 fc-6 flex-1">
								<p>9月16日~9月18日共两晚</p>
								<p>订单总额: <span class="fc-error">￥200</span>(房租：￥160+押金：￥40)</p>
							</div>
						</div>

						<img src="../../public/images/arrow_right.png"    class="list_arrow">
					</a>
				</li>
				<li>
					<a class="link"  href="order-detail.html">
						<div class="title row fs-15">
							<p class="col-all-10 text-clip">
								武汉大学旁边西路XXX小区，家电齐全家电齐全
							</p>
							<p class="col-all-2 fc-success text-right">
								已入住
							</p>
						</div>

						<div class="fl-clear dis-box cont">
							<img src="../../public/images/house1.jpg" class="house_img">
							<div class="fs-12 fc-6 flex-1">
								<p>9月16日~9月18日共两晚</p>
								<p>订单总额: <span class="fc-error">￥200</span>(房租：￥160+押金：￥40)</p>
							</div>
						</div>
						<img src="../../public/images/arrow_right.png"    class="list_arrow">
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>