:global{
  .blBox{ width:900px; overflow:hidden; margin:0 auto; background:#fff;}
  .blTit{ height:40px; background:#e4443a; font-size:16px; color:#fff; line-height:40px; text-indent:20px;}
  .infoBox{ border:1px solid #ccc; padding:10px; background:#fff; border-top:0px;}
  .blTitC{ height:50px; line-height:50px; text-align:center; font-size:20px; border-bottom: #cccccc 1px dashed;}
  .blno{ height:50px; line-height:50px; text-align:right; font-size:18px;}
  .bljia{ overflow:hidden; margin-bottom:10px;}
  .bljial{ padding-left:20px;}
  .bljial p{ font-size:14px; line-height:35px; font-size:16px;}
  .bltiaok{ padding-left:20px;}
  .bltiaok p{ font-size:14px; line-height:25px;}
}