@import "./libs/mixin.scss";

body {
  overflow-x: hidden;
  background: #396ea1; /* 一些不支持背景渐变的浏览器 */
}
//按钮————————————————
.loginbtn {
  @include box((w:340px, h:74px, bdr:10px, m:0 auto, mt:50px));
  a {
    @include box((d:block, w:100%, h:100%, fs:28px, c:#fff, lh:74px, ta:center));
  }
  box-shadow: 3px 3px 5px rgba(150, 27, 22, 0.3);
  background: #ef5933;
  background: -webkit-gradient(linear, left 0, right 0, from(#f44a43), to(#ef5933));
  background: -moz-linear-gradient(left, #f44a43, #ef5933);
  background: -o-linear-gradient(left, #f44a43, #ef5933);
}

//——————————————————————————
.invite {
  .bg1 {
    @include box((h:717px));
    @include background((url:'home-bg.png', repeat:no-repeat, pos:center center));
  }
  //邀请方式
  .method {
    @include box((w:1195px, m:0 auto, mb:75px, bg:#fff, bdr:9px));
    position: relative;
    box-shadow: 5px 5px 0 #92bae2;
    .title {
      @include box((m:auto));
      @include position((p:absolute, t:-55px, l:0, r:0));
      img {
        @include box((d:block, m:0 auto));
      }
    }
    .content {
      @include box((pt:111px));
      ul {
        @include box((w:1020px, m:0 auto));
        li {
          @include box((w:300px, bdr:9px, bg:#fffbf1, fl:left, pt:51px, ta:center));
          border: 3px solid #81b4ff;
          position: relative;
          overflow: visible;
          .step {
            @include box((w:50px, h:50px, bdr:50%, fs:30px, c:#fff, lh:50px, ta:center, m:auto));
            background: #81b5ff; /* 一些不支持背景渐变的浏览器 */
            background: -moz-linear-gradient(top, #81b5ff, #789bff);
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#81b5ff), to(#789bff));
            background: -o-linear-gradient(top, #81b5ff, #789bff);
            @include position((p:absolute, l:0, r:0, t:-26.5px));
          }
          &:nth-child(2) {
            @include box((m:0 60px));
          }
          p {
            @include box((fs:18px, c:#222));
          }
          .mylink {
            @include box((w:217px, h:102px, bg:#fff, m:0 auto, mt:10px, fs:14px, c:#999, p:14px 10px, lh:24px));
            overflow-wrap: break-word;
          }
        }
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          clear: both;
        }
      }

    }
    .gold {
      @include position((p:absolute, b:-35px, r:245px));
    }
    :global {
      .copy_success {
        @include box((fs:16px, c:#fff, bg:rgba(0, 0, 0, 0.7), w:156px, h:56px, ta:center, lh:56px, m:auto, bdr:10px, d:none));
        @include position((p:absolute, l:0, r:0, t:0, b:0,))
      }
    }
  }
  //攻略
  .gonglue {
    @include box((w:1158px, m:0 auto, mb:126px));
    position: relative;
    img {
      @include box((d:block, m:0 auto));
    }
    .gold3 {
      @include position((p:absolute, l:110px, b:-10px));
    }
  }
}

//  邀请记录 和奖励
.record {
  @include box((w:1200px, m:0 auto, bdr:9px, bg:#fff, mb:143px, p:0 50px, pt:55px, pb:50px));
  box-shadow: 5px 5px 0 #92bae2;
  min-height: 361px;
  position: relative;
  .recordtitle {
    @include box((m:auto));
    @include position((p:absolute, l:0, r:0, t:-52px));
    img {
      @include box((d:block, m:0 auto));
    }
  }
  .recordetail {
    .nums {
      @include clearfix();
      & > p {
        @include box((w:33.33%, h:50px, lh:51px, fl:left, fs:18px));
        &:nth-child(3n-1) {
          text-align: center;
        }
        &:nth-child(3n) {
          text-align: right;
        }
        span {
          color: #ef5933;
        }
      }
      .select {
        @include box((w:117px, h:31px, fl:right, p:3px 0));
        border: 1px solid #e5e5e5;
        .option {
          p {
            @include box((fs:16px, fl:left, lh:25px, ta:center, w:72px));
          }
          .selectbtn {
            @include box((fl:right, w:26px, h:23px, ta:center));
            border-left: 1px solid #e5e5e5;
          }
        }
      }
      .loginbtn {
        @include box((d:inline-block, w:117px, h:32px, fs:18px, lh:32px, c:#fff, ta:center, bdr:10px));
        vertical-align: middle;
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(150, 27, 22, 0.3);
      }
    }
    .recordcontent {
      @include box((p:0 29px, bdr:10px, mt:5px));
      .recorehead {
        @include box((bg:#fffbf1, c:#497eb0, bdr:10px, m:0 -29px, p:0 55px));
        & > div {
          @include box((w:33.33%, h:73px, lh:73px, ta:center, d:inline-block));
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
      .records {
        @include clearfix();
        img {
          display: block;
        }
        p {
          @include box((lh:163px, fs:18px, c:#999, ta:center, ml:20px));
        }
      }
      .lists {
        .loginbtn {
          @include box((c:#fff, ta:center, bdr:10px));
          cursor: pointer;
          box-shadow: 3px 3px 5px rgba(150, 27, 22, 0.3);
          background: #999;
          &.active {
            background: #ef5933;
            background: -webkit-gradient(linear, left 0, right 0, from(#f44a43), to(#ef5933));
            background: -moz-linear-gradient(left, #f44a43, #ef5933);
            background: -o-linear-gradient(left, #f44a43, #ef5933);
          }
        }
        :global {
          .pagination {
            margin: 0 -29px;
            padding: 30px 0 57px;
            background: #fffbf1;
          }
        }
      }
    }
  }

}

.reward_mask {
  @include box((bg:rgba(0, 0, 0, .7)));
  @include position((p:fixed, l:0, r:0, b:0, t:0, z:1000));
  .reward {
    @include box((w:812px,bg:#fff, bdr:22px, ml:-406px, mt:-240px,p:45px 63px));
    min-height:480px;
    border: 5px solid #92bae2;
    @include position((p:absolute, l:50%, t:50%));
    .close{
      @include box((w:57px,h:57px));
      @include background((url:'yqColse.png',repeat:no-repeat,pos:center center));
      @include position((p:absolute,t:-28px,r:-30px))
    }
    h4{
      @include box((fw:600,fs:24px,c:#222,ta:center,mb:32px))
    }
    .desc{
      margin-bottom:20px;
      p{
        @include box((w:33.33%,d:inline-block,fs:18px,c:#222));
        span{
          @include box((c:#ef5933))
        }
        &:nth-child(2){
          @include box((ta:center))
        }
        &:nth-child(3){
          @include box((ta:right))
        }
      }
    }
    th, td {
      @include box((h:56px,w:33.33%));
      border-right: 1px solid #dddddd;
    }
  }
}

//活动规则
table {
  @include box((m:0 auto, w:804px));
  th {
    @include box((bg:#92bae2, fs:18px, c:#fff, fw:500))
  }
  td {
    @include box((bg:#fff, fs:18px, c:#92bae2, fw:500, ta:center))
  }
  th, td {
    @include box((h:50px,w:33.33%));
    border-right: 1px solid #dddddd;
  }
  tbody {
    tr {
      border-left: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
    }
  }
}
.invite_gift {
  .rules {
    @include box((w:1200px, m:0 auto, mt:115px, mb:70px, bg:#fff, p:65px 100px 37px, bdr:9px));
    box-shadow: 5px 5px 0 #92bae2;
    position: relative;
    .rulestitle {
      margin: auto;
      @include position((p:absolute, l:0, r:0, t:-55px));
      img {
        @include box((d:block, m:0 auto));
      }
    }
    .rule_detail {
      .article {
        @include box((lh:40px, fs:18px, c:#222));
      }
    }
    .send {
      p {
        @include box((fs:16px, c:#666, ta:center))
      }
      ul {
        @include box((w:100%, mt:40px));
        @include clearfix();
        li {
          @include box((fl:left, w:33.33%));
          img {
            @include box((d:block, m:0 auto))
          }
        }
      }
    }
    .back {
      .tip_text {
        @include box((pl:63px, fs:16px, c:#666, mb:40px))
      }

      .tips {
        @include box((fs:16px, c:#999, ta:center, mt:20px))
      }
    }
  }
}

:global {
  .loginMask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20000;
  }
}
