:global {
  #_1 {
    color: #527db7;
  }
  .xys_n1 {
    font-size: 14px;
    line-height: 30px;
  }
  .xys_n2 {
    font-size: 14px;
  }
  .xys h2 {
    font-size: 18px;
    color: #FF6058;
    padding: 5px 0;
  }
  .breadcrumb {
    padding: 5px 0;
    border-bottom: 1px dashed #ccc;
  }
  .mainWavp {
    width: 998px;
    overflow: hidden;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ccc;
  }
  .mainWavp .xys {
    line-height: 25px;
    color: #888888;
  }
}