<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable"> 
	<meta content="yes" name="apple-touch-fullscreen"> 
	<meta content="telephone=no,email=no" name="format-detection"> 	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="x5-fullscreen"content="true"/>
	<meta name="full-screen"content="yes">
	<title>消息</title>
	<link rel="stylesheet" type="text/css" href="$cdnpath/css/member_center.min.css?v=${ver}12">
	<script src="$cdnpath/js/flexible.js?v=${ver}"></script>
</head>
<body class="has_fixed_bottom">                         
	<div class="normal_lists_wraper">
		<ul class="normal_lists_ul mg-t-30 bg-white">
			<li class="list_item xiaoxi_item tap-link" data-title="通知" data-url="$weburl/appmember/notice.html">
				<div class="list_text fc-6 tongzhi_text">
					通知
				</div>
				<div class="list_tail text-right fc-6">
					<span class="red_point hide" id="notice_red_point"></span>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="formum_wraper bg-white">
		<ul class="forum_ul" id="messageListsUl">
			<script type="text/template" id="messageTpl">
			{{each messageList.result}}
				<li class="forum_item{{hasReadClass $value.status}}" data-url="$weburl/app/article.html?id={{$value.article_id}}&flag=message&back=member" data-message-id="{{$value.id}}">
					<div class="item_head">
						<span>{{$value.content}}</span>
					</div>
					<div class="item_labels clearfix">
						<span class="fn-fr">{{dateFormatStyle $value.addtime 2}}</span>
					</div>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="loading text-center lh-96" style="visibility:hidden" id="loading">正在加载中...</div>
	
	<div class="no_lists text-center fc-9 hide">
		<img src="$cdnpath/images/app/center/sorry_list.png" class="sorry_list">
		<p class="lh-50">暂无内容</p>
		<p class="lh-50">种下一条评论可能就会收获回复哦~</p>
	</div>
	
	<div class="btn_group pos-fix set_all_read">
		<div class="btn_item bg-primary" id="readAllBtn">
			设为全部已读
		</div>
	</div>
	
	<input type="hidden" value="$weburl" id="webUrl">
	<script src="$cdnpath/js/sea.js"></script>
	<script src="$cdnpath/js/sea-config.js"></script>
	<script>
		seajs.use("$cdnpath/js/app/appmember/message.min.js?v=${ver}");
	</script>
	<span style="display:none;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256932590'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256932590%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></span>
</body>
</html>