<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
		<title>登录/注册</title>
		<link rel="stylesheet" href="/css/passport/login.min.css?v=${ver}">
		<link rel="stylesheet" href="/js/plugin/layer.m/need/layer.css?v=${ver}">
		<script src="/js/flexible.js?v=${ver}"></script>
		<script type="text/javascript">
			SESSION_ID='${session.id}';
			TONGDUN_ENV='${tongdun_env}';
		</script>
	</head>
	<body>

		<div class="content">
			<img src="/images/big_white_logo.png"  class="big_white_logo">
			<div class="passport_form_wraper mg-lr-30" id="loginForm" action="$wapurl/passport/loginByPhone.html" method="post">
				<ul class="login_form_ul">
					<li class="list_item bd-w-1">
						<input type="tel" id="tel" class="list_text" placeholder="您的常用手机号即为用户名" maxlength="11" name="phoneNumber">
						<span class="list_tail iconfont icon-qingchu hide" id="clearInput"></span>
					</li>
					<li class="list_item btn_item fc-f text-center disabled" id="next">
						下一步
					</li>
					<p class="lh-96 fc-primary text-center">
						*钱保姆绝对不会泄露您的手机号哦
					</p>
				</ul>
			</div>
		</div>

		<input type="hidden" value="$wapurl" id="wapurl">
		<script src="/js/sea.js"></script>
		<script src="/js/sea-config.js"></script>
		<script src="/js/fraudmetrix.js?v=${ver}"></script>
		
		<script>
			seajs.use("page/passport/login.min.js");
		</script>


		<!--start 百度统计 -->
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
		<!--end 百度统计 -->
		
	</body>
</html>
