<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">

		<title>修改交易密码</title>
		<link rel="stylesheet" href="../../statics/css/passport/modifyPayPwd.min.css">
		<link rel="stylesheet" href="../../statics/js/plugin/layer.m/need/layer.css?v=${ver}">
		<script src="../../statics/js/flexible.js?v=${ver}"></script>
	</head>
	<body>
		
		<div class="content">
			<div class="passport_form_wraper mg-lr-30">
				<ul class="login_form_ul">
					<li class="list_item bd-w-1">
						<input type="password"  class="list_text pwd0" id="pwdInputOrigin" maxlength="12"  placeholder="请输入原交易密码">
					</li>
					<li class="list_item bd-w-1">
						<input type="password"  class="list_text pwd0" id="pwdInput0" maxlength="15"  placeholder="新登录密码(6-15位数字加字母组合)">
						<span class="list_tail  text-right iconfont icon-bukejian" id="passportSea"></span>
					</li>
					<li class="list_item bd-w-1">
						<input type="password"  class="list_text pwd1" id="pwdInput1" maxlength="15" placeholder="请再次输入新交易密码" >
					</li>
					<li class="list_item btn_item fc-f text-center disabled" id="submit">
						提交
					</li>
				</ul>
			</div>
		</div>

		<input type="hidden" value="$wapurl" id="wapurl">
		<script src="../../statics/js/sea.js"></script>
		<script src="../../statics/js/sea-config.js"></script>

		<script>
			seajs.use("page/passport/modifyPayPwd.min.js");
		</script>

		<!--start 百度统计 -->
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
		<!--end 百度统计 -->
		
	</body>
</html>
