<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
  		<meta content="yes" name="apple-touch-fullscreen"> 
 		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
    	<meta name="full-screen"content="yes">
		<title>钱保姆注册协议</title>
		<link rel="stylesheet" href="$wapcdnpath/css/passport/regAgreement.min.css?v=${ver}">
		<script src="$wapcdnpath/js/flexible.js?v=${ver}"></script>
	</head>
	<body>
		
		<div class="content">
			<ul class="agreenMentUl">
				<h4>钱保姆注册协议</h4>
				<li class="agreen_li">
					钱保姆”由浙江佰财金融信息服务有限公司负责运营，以下所称的“本网站”包含了“钱保姆”PC端、“钱保姆”手机客户端以及运营商浙江佰财金融信息服务有限公司。在您注册成为本网站用户前请务必仔细阅读《钱保姆注册协议》（以下简称“本协议”）的所有条款。在注册过程中，若您勾选注册页面下方的“已阅读并同意《钱保姆注册协议》”，则表示您已充分阅读并理解本协议的所有条款，您将有权依据本协议的条款接受本网站的服务，同时亦有义务接受本协议条款的约束。
				</li>
				<h4>一、本协议的文本</h4>
				<li class="agreen_li">
					1.1 本协议内容包括以下条款及本网站已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。本协议是您与本网站共同签订的，适用于您在本网站的全部活动。如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。
				</li>
				<li class="agreen_li">
					1.1 本协议内容包括以下条款及本网站已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。本协议是您与本网站共同签订的，适用于您在本网站的全部活动。如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。
				</li>
				<li class="agreen_li">
					1.2 本网站有权根据需要不时地修改本协议或根据本协议制定、修改各类规则并在本网站上刊载公告，无需另行单独通知您。您应不时地注意本协议及各类规则的变更。经修订的相关条款和规则一经公告，即于公告规定的特定生效日期自动生效并对您产生法律约束力。若您在本协议及各类规则内容公告变更后继续使用本网站服务的，则表示您已充分阅读、理解并接受修改后的协议和各类规则内容。同时，就您在协议和相关规则修订前通过本网站进行的交易及其效力，视为您已同意并已按照本协议及相关规则进行了相应的授权和追认。您如不同意该等变更，请您停止使用本网站的服务。
				</li>
				<li class="agreen_li">
					1.3 您只要勾选位于注册页面下方的“已阅读并同意《钱保姆注册协议》”选项并按照本网站的流程成功注册后，本协议即产生法律效力。您不得以未签署书面协议为由否认本协议的效力。本协议是由您与本网站共同签订的，适用于您在本网站的全部活动。
				</li>
				<li class="agreen_li">
					1.4 本协议不涉及您与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷。
				</li>
				<li class="agreen_li">
					1.5在本网站交易需订立的合同采用电子合同方式。您使用会员账户登录本网站后，根据本网站的相关规则，以会员账户ID通过点击确认或类似方式签署的电子合同即视为注册会员本人真实意愿并以注册会员本人名义签署的合同，具有法律效力。
				</li>

				<h4>二、注册用户的身份限制</h4>
				<li class="agreen_li">
					2.1 本网站用户为符合中国法律规定的具有完全民事权利能力和民事行为能力，独立享有和承担本协议项下权利义务的中国大陆公民，且已满18周岁。如不具备上述资格，您应立即停止在本网站的注册程序、停止使用本网站服务，本网站有权随时终止您的注册进程及本网站服务，您应对您的注册给本网站带来的损失承担全额赔偿责任，且您的监护人（如您为限制民事行为能力的自然人）或您所在单位（如您在本网站实施的行为为代表法人行使民事权利）应承担连带责任。
				</li>
				<li class="agreen_li">
					2.2 在注册时和使用本网站服务的所有期间，您应提供您自身的真实资料和信息，并保证自您注册之时起至您使用本网站服务的所有期间，其所提交的所有资料和信息（包括但不限于电子邮件地址、联系电话、联系地址、邮政编码、个人身份信息等）真实、准确、完整，且是最新的。如有变更，应及时书面通知（包含短信、电子邮件的方式）本网站并按照本网站的要求办理变更手续。
				</li>

				<h4>三、本网站的服务内容</h4>
				<li class="agreen_li">
					3.1 本网站通过本网站以及其他渠道和方式等向您提供以下服务中的一项或多项：
				</li>
				<li class="agreen_li">
					（1）本网站对于平台上的投资标的和相关发布机构进行审慎的资格审查后方予纳入平台、允许其发布产品，展示发行人信息，并定期对机构进行运营监督检查和工作提升的帮助。
				</li>
				<li class="agreen_li">
					（2）本网站负责审查机构所提交产品信息的完整性、准确性和合法性。
				</li>
				<li class="agreen_li">
					（3）本网站须通过其多层级的风险防范措施，为注册用户提供信息交互、交易匹配、信用管理、流程控制、款项结算等多方面服务；保证投资过程按照投资人的操作意向进行并保证其安全性。
				</li>
				<li class="agreen_li">
					（4）本网站提供的交易服务包括但不限于(1)对理财产品进行初始认购；(2)持有产品的转让与受让；(3)提供渠道投资。
				</li>
				<li class="agreen_li">
					（5）用户可以随时向本网站发出查询机构情况、投资产品运营情况的合理需求，由本网站给予合理解答。
				</li>
				<li class="agreen_li">
					3.2本网站就向用户提供的服务是否收取管理服务费及服务费的具体标准和规则由本网站与用户另行签署协议，以及本网站公布的规则确定。
				</li>


				<h4>四、用户使用限制</h4>
				<li class="agreen_li">
					4.1您保证使用本网站官方页面登陆，而不通过邮件或其它网站提供的链接登陆平台。
				</li>
				<li class="agreen_li">
					4.2 您不得利用本网站或本网站服务从事任何不符合中国法律法规或侵犯他人权益的活动，包括但不限于洗钱、套现、传销等行为。本网站在发现您从事该等活动时，有权不经通知而立即停止您对本网站的全部或部分功能的使用。
				</li>
				<li class="agreen_li">
					4.3 在使用本网站提供的任何服务（包括但不限于站内信服务）的过程中，您不得发送、公布或展示任何垃圾邮件、信息或其他可能违反中国法律法规及本协议的内容。本网站在发现您从事该等活动或发布该等内容时，有权不经您同意而删除该等内容，并有权不经通知而立即暂停或停止您对本网站的全部或部分功能的使用。
				</li>
				<li class="agreen_li">
					4.4 您在注册时向本网站提交的手机号码、电子邮箱、用户名、密码是您在本网站的唯一识别信息。您注册成功后，不得将注册的手机号码、电子邮箱、用户名、密码转让或授权给第三方使用。您确认，使用您的用户名和密码登陆本网站后在本网站的一切行为以及以您在本网站注册时提交的个人电子邮箱发送邮件的行为均代表您本人并由您承担相应的法律后果。
				</li>

				<h4>五、用户信息及隐私保护</h4>
				<li class="agreen_li">
					5.1 您同意本网站可使用关于您的个人资料（包括但不限于本网站持有的有关您的档案中的资料，及本网站从您目前及以前在本网站上的活动所获取的其他资料）以解决争议、对纠纷进行调停、确保在本网站进行安全交易，并执行本网站的服务协议及相关规则。本网站有时候可能调查多个用户以识别问题或解决争议，特别是本网站可审查您的资料以区分使用多个用户名或别名的用户。为限制在网站上的欺诈、非法或其他刑事犯罪活动，使本网站免受其害，您同意本网站可通过人工或自动程序对您的个人资料进行评价。
				</li>
				<li class="agreen_li">
					5.2 您同意本网站可以使用您的个人资料以改进本网站的推广和促销工作、分析网站的使用率、改善本网站的内容和产品推广形式，并使本网站的网站内容、设计和服务更能符合用户的要求。这些使用能改善本网站的网页，以调整本网站的网页使其更能符合您的需求，从而使您在使用本网站服务时得到更为顺利、有效、安全及度身订造的交易体验。
				</li>
				<li class="agreen_li">
					5.3您同意本网站利用您的资料与您联络并（在某些情况下）向您传递针对您的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关您使用本网站的通讯。您接受本协议即视为您同意收取这些资料。
				</li>
				<li class="agreen_li">
					5.4您使用本网站服务进行交易时，您即授权本公司将您的包括但不限于真实姓名、联系方式、信用状况等必要的个人信息和交易信息披露给与您交易的另一方或本网站的合作机构（仅限于本网站为完成拟向您提供的服务而合作的机构）。
				</li>
				<li class="agreen_li">
					5.5 本网站将采用行业标准惯例以保护您的用户信息，包括建立相应的信息保护制度和机制、设备等，但您应了解，上述保护措施可能受限于技术限制而不能确保您的信息不会通过本协议中未列明的途径泄露出去，本网站不承担因此而导致的任何损失或责任。
				</li>
				<li class="agreen_li">
					5.6 本网站有义务在行政、司法机关要求时向该等机关提供您的用户信息。
				</li>
				<li class="agreen_li">
					5.7在本网站提供的交易活动中，您无权要求本网站提供其他用户的个人资料，除非符合以下条件：
				</li>
				<li class="agreen_li">
					（1） 您已向法院起诉其他用户的在本网站活动中的违约行为；
				</li>
				<li class="agreen_li">
					（2） 与您有关的其他用户逾期未归还借款本息；
				</li>
				<li class="agreen_li">
					（3） 本网站被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本息的情形。
				</li>
				<li class="agreen_li">
					5.8如您通过签署有关协议等方式获得其他用户的个人信息，您同意不将该等个人信息用于除还本付息或向借款人追索债权以外的其他任何用途，除非该等信息根据适用的法律规定、被有管辖权的法院或政府部门要求披露。
				</li>

				<h4>六、风险揭示条款</h4>
				<li class="agreen_li">
					6.1 您应了解，无论您通过本网站形成的借贷关系是否适用本网站的回款风险保险计划或者是否存在第三方担保，本网站及本网站的关联方董事、员工、代理人均不以任何明示或默示的方式对您通过本网站平台形成的借贷交易及其履行提供任何担保，均不以任何明示或默示的方式保证由其他用户或机构提供的信息内容的真实性、充分性、及时性、可靠性、完整性和有效性。您应根据自身的风险承受能力，衡量交易相对方信息及其他相关信息以及与其交易的真实性和安全性，您通过本网站形成的任何借贷交易所产生的直接及间接的损失均由您自身承担。
				</li>
				<li class="agreen_li">
					6.2 本网站内容可能涉及或链接到由第三方所有、控制或者运营的其他网站（“第三方网站”）。本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您确认按照第三方网站的注册协议而非本注册协议使用第三方网站，第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险。
				</li>
				<li class="agreen_li">
					6.3 如果由于本网站及相关第三方的设备、系统故障或缺陷、病毒、黑客攻击、网络故障、网络中断、地震、台风、水灾、海啸、雷电、火灾、瘟疫、流行病、战争、恐怖主义、敌对行为、暴动、罢工、交通中断、停止供应主要服务、电力中断、经济形势严重恶化或其它类似事件，致使本网站未能履行本协议或履行本协议不符合规定，不构成本网站的违约。
				</li>
				<h4>七、保密条款</h4>
				<li class="agreen_li">
					7.1 您应了解，本协议签署后，除非事先得到另一方的书面同意，一方均应承担以下保密义务：
				</li>
				<li class="agreen_li">
					（1）任何一方不得向任何第三方披露本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息(“保密信息”)；
				</li>
				<li class="agreen_li">
					（2）任何一方只能将保密信息用于本协议项下之目的，不得用于任何其他目的。本款的约定不适用于下列保密信息： （a）从披露方获得时，已是公开的；（b）从披露方获得前，接受方已经获知的；（c）从有正当权限并不受保密义务制约的第三方获得的；（d）非依靠披露方披露或提供的信息独自开发的。
				</li>
				<li class="agreen_li">
					7.2 本协议双方因下列原因披露保密信息，不受前款的限制：
				</li>
				<li class="agreen_li">
					（1）向本协议双方的雇员及其聘请的会计师、律师、咨询公司披露；
				</li>
				<li class="agreen_li">
					（2）因遵循适用的法律、法规的强制性规定而披露；
				</li>
				<li class="agreen_li">
					（3）依据其他应遵守的法规向政府机构进行的披露。
				</li>
				<li class="agreen_li">
					7.3.出让人和受让人提供给本网站和担保公司的信息及出让人和受让人享平台或担保公司服务产生的信息(包括本协议签署之前提供和产生的)，可由平台和担保公司共享，法律禁止的除外。
				</li>
				<li class="agreen_li">
					7.4.任何一方应采取所有其他必要、适当和可以采取的措施，以确保保密信息的保密性。
				</li>
				<li class="agreen_li">
					7.5.各方在本条项下的权利和义务应在本协议终止或到期后应继续有效。
				</li>

				<h4>八、通知</h4>
				<li class="agreen_li">
					本协议项下的通知如以公示方式作出，一经在本网站公示即视为已经送达。除此之外，其他向您个人发布的具有专属性的通知将由本网站向您在注册时或者注册后变更用户信息时向本网站提供的电子邮箱，或本网站在本网站上您个人账户中为您设置的“站内信”，或您在注册后在本网站绑定的手机发送，一经发送即视为已经送达。请您密切关注您的电子邮箱 、“站内信”中的邮件和信息及手机中的短信信息。
				</li>

				<h4>九、违约责任</h4>
				<li class="agreen_li">
					如果您违反了您在协议中所作的陈述、保证、承诺或任何其他义务，致使本网站或本网站的股东、实际控制人、员工承受任何损失，您应向受损失的一方做出全额赔偿。
				</li>

				<h4>十、适用法律和管辖</h4>
				<li class="agreen_li">
					本协议适用中华人民共和国法律，与本协议的解释和履行有关的争议应由本网站住所地人民法院管辖。 
				</li>

				<h4>十一、终止</h4>
				<li class="agreen_li">
					除非本网站终止本协议或者您申请终止本协议及注销相应用户账户且经本网站同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本网站有权通过电子邮件告知方式终止本协议、关闭您的账户或者限制您使用本网站。 
				</li>

				<h4>十二、条款的独立性</h4>
				<li class="agreen_li">
					若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。
				</li>
			</ul>
		</div>
		
		<!--start 百度统计 -->
		<div class="hide"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257405256'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257405256%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>
		<!--end 百度统计 -->

	</body>
</html>
