* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 14px Helvetica,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\5b8b\4f53,Arial,sans-serif; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol, li {
  list-style: none; }

img {
  border: 0; }

input, img {
  vertical-align: middle; }

input, select, textarea {
  outline: 0;
  /*-webkit-appearance:none*/ }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:active {
  -webkit-tap-highlight-color: transparent; }

.btn {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  line-height: 18px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px; }

.btn-sm {
  line-height: 18px; }

.btn-md {
  line-height: 22px; }

.btn-lg {
  line-height: 26px; }

.btn-error, .btn-danger {
  background-color: #c12e2a;
  color: #fff; }

.btn-success {
  background-color: #419641;
  color: #fff; }

.btn-default {
  background-color: #2aabd2;
  color: #fff; }

.btn-info {
  background-color: #eb9316;
  color: #fff; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-22 {
  font-size: 22px; }

.lh-20 {
  line-height: 20px; }

.lh-22 {
  line-height: 22px; }

.lh-24 {
  line-height: 24px; }

.lh-26 {
  line-height: 26px; }

.lh-28 {
  line-height: 28px; }

.lh-30 {
  line-height: 30px; }

.text-error, .text-danger, .fc-error, .fc-danger {
  color: #c12e2a; }

.fc-success {
  color: #419641; }

.fc-info {
  color: #eb9316; }

.fc-primary {
  color: #2aabd2; }

.fc-link {
  color: #2d6ca2; }

.bg-error, .bg-danger {
  background-color: #c12e2a; }

.bg-success {
  background-color: #419641; }

.bg-info {
  background-color: #eb9316; }

.bg-primary {
  background-color: #2aabd2; }

.fc-3 {
  color: #333; }

.fc-6 {
  color: #666; }

.fc-9 {
  color: #999; }

.text-center {
  text-align: center; }

.fn-fl {
  float: left; }

.fn-fr {
  float: right; }

.fl-clear:after {
  content: " ";
  display: table;
  clear: both;
  *zoom: 1;
  *display: block; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.pos-fix {
  position: fixed; }

.row {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: block; }
  .row:after {
    content: "";
    display: table;
    clear: both;
    *zoom: 1;
    *display: block; }
  .row > .row {
    margin-left: 0px;
    margin-right: 0px; }

@media (max-width: 480px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    display: block;
    float: left;
    box-sizing: border-box; }

  .col-xs-1 {
    width: 8.33333%; }

  .col-xs-2 {
    width: 16.66666%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.33333%; }

  .col-xs-5 {
    width: 41.6666666%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.333333%; }

  .col-xs-8 {
    width: 66.66666%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.3333%; }

  .col-xs-11 {
    width: 91.666666%; }

  .col-xs-12 {
    width: 100%; }

  .col-xs-left-1 {
    margin-left: 8.33333%; }

  .col-xs-left-2 {
    margin-left: 16.66666%; }

  .col-xs-left-3 {
    margin-left: 25%; }

  .col-xs-left-4 {
    margin-left: 33.33333%; }

  .col-xs-left-5 {
    margin-left: 41.6666666%; }

  .col-xs-left-6 {
    margin-left: 50%; }

  .col-xs-left-7 {
    margin-left: 58.333333%; }

  .col-xs-left-8 {
    margin-left: 66.66666%; }

  .col-xs-left-9 {
    margin-left: 75%; }

  .col-xs-left-10 {
    margin-left: 83.3333%; }

  .col-xs-left-11 {
    margin-left: 91.666666%; } }
@media (min-width: 481px) and (max-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    display: block;
    float: left;
    box-sizing: border-box; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66666%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.6666666%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.333333%; }

  .col-sm-8 {
    width: 66.66666%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333%; }

  .col-sm-11 {
    width: 91.666666%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-left-1 {
    margin-left: 8.33333%; }

  .col-sm-left-2 {
    margin-left: 16.66666%; }

  .col-sm-left-3 {
    margin-left: 25%; }

  .col-sm-left-4 {
    margin-left: 33.33333%; }

  .col-sm-left-5 {
    margin-left: 41.6666666%; }

  .col-sm-left-6 {
    margin-left: 50%; }

  .col-sm-left-7 {
    margin-left: 58.333333%; }

  .col-sm-left-8 {
    margin-left: 66.66666%; }

  .col-sm-left-9 {
    margin-left: 75%; }

  .col-sm-left-10 {
    margin-left: 83.3333%; }

  .col-sm-left-11 {
    margin-left: 91.666666%; } }
@media (min-width: 769px) and (max-width: 1280px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    display: block;
    float: left;
    box-sizing: border-box; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66666%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.6666666%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.333333%; }

  .col-md-8 {
    width: 66.66666%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333%; }

  .col-md-11 {
    width: 91.666666%; }

  .col-md-12 {
    width: 100%; }

  .col-md-left-1 {
    margin-left: 8.33333%; }

  .col-md-left-2 {
    margin-left: 16.66666%; }

  .col-md-left-3 {
    margin-left: 25%; }

  .col-md-left-4 {
    margin-left: 33.33333%; }

  .col-md-left-5 {
    margin-left: 41.6666666%; }

  .col-md-left-6 {
    margin-left: 50%; }

  .col-md-left-7 {
    margin-left: 58.333333%; }

  .col-md-left-8 {
    margin-left: 66.66666%; }

  .col-md-left-9 {
    margin-left: 75%; }

  .col-md-left-10 {
    margin-left: 83.3333%; }

  .col-md-left-11 {
    margin-left: 91.666666%; } }
@media (min-width: 1281px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    display: block;
    float: left;
    box-sizing: border-box; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66666%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.6666666%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.333333%; }

  .col-lg-8 {
    width: 66.66666%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333%; }

  .col-lg-11 {
    width: 91.666666%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-left-1 {
    margin-left: 8.33333%; }

  .col-lg-left-2 {
    margin-left: 16.66666%; }

  .col-lg-left-3 {
    margin-left: 25%; }

  .col-lg-left-4 {
    margin-left: 33.33333%; }

  .col-lg-left-5 {
    margin-left: 41.6666666%; }

  .col-lg-left-6 {
    margin-left: 50%; }

  .col-lg-left-7 {
    margin-left: 58.333333%; }

  .col-lg-left-8 {
    margin-left: 66.66666%; }

  .col-lg-left-9 {
    margin-left: 75%; }

  .col-lg-left-10 {
    margin-left: 83.3333%; }

  .col-lg-left-11 {
    margin-left: 91.666666%; } }
.col-all-1, .col-all-2, .col-all-3, .col-all-4, .col-all-5, .col-all-6, .col-all-7, .col-all-8, .col-all-9, .col-all-10, .col-all-11, .col-all-12 {
  display: block;
  float: left;
  box-sizing: border-box; }

.col-all-1 {
  width: 8.33333%; }

.col-all-2 {
  width: 16.66666%; }

.col-all-3 {
  width: 25%; }

.col-all-4 {
  width: 33.33333%; }

.col-all-5 {
  width: 41.6666666%; }

.col-all-6 {
  width: 50%; }

.col-all-7 {
  width: 58.333333%; }

.col-all-8 {
  width: 66.66666%; }

.col-all-9 {
  width: 75%; }

.col-all-10 {
  width: 83.3333%; }

.col-all-11 {
  width: 91.666666%; }

.col-all-12 {
  width: 100%; }

.col-all-left-1 {
  margin-left: 8.33333%; }

.col-all-left-2 {
  margin-left: 16.66666%; }

.col-all-left-3 {
  margin-left: 25%; }

.col-all-left-4 {
  margin-left: 33.33333%; }

.col-all-left-5 {
  margin-left: 41.6666666%; }

.col-all-left-6 {
  margin-left: 50%; }

.col-all-left-7 {
  margin-left: 58.333333%; }

.col-all-left-8 {
  margin-left: 66.66666%; }

.col-all-left-9 {
  margin-left: 75%; }

.col-all-left-10 {
  margin-left: 83.3333%; }

.col-all-left-11 {
  margin-left: 91.666666%; }