<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>平台仲裁</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/plugins/dropzone/dropzone.min.css">
	<link rel="stylesheet" href="../../public/css/process-status.css">
	<link rel="stylesheet" href="../../public/css/arbitrate/cash-out.css">
	<link rel="stylesheet" href="../../public/css/font-icon.css">
</head>
<body>
	<header class="pos-rel top-header">
		<a href="../index.html" class="top_back pos-abs"></a>
		<p class="top_tit">平台仲裁</p>
	</header>
	<div class="container">
		<div class="process_status">
			<h4 class="tit fs-16 ">
				<img src="../../public/images/circle_surprise_blue.png" class="status_img">
				等待房东处理退款申请
			</h4>
		</div>

		<div class="lists_input">
			<ul class="lists_input_ul">
				<li class="textarea">
					<textarea  cols="30" rows="5" placeholder="请输入您的退款理由及说明"></textarea>
				</li>
			</ul>
		</div>

		<div  class="dropzone images_wraper mg-t-20 bg-trans border-0" id="image_form" >
			<div class="clickable un_select" id="clickable">
				<span class="icon-camera left_icon"></span>
				<span class="fn-fr right_mes">上传凭证，最多5张</span>
			</div>
		</div>
		
		<a href="cash-out-apply.html" class="btn-full btn-red">申请平台仲裁</a>
	</div>
	
	
	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/plugins/layer.m/layer.m.js"></script>
	<script src="../../public/js/plugins/dropzone/dropzone.min.js"></script>
	<script src="../../public/js/page/arbitrate/cash-out.js"></script>
	
</body>
</html>