<!doctype html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
	<meta  name="apple-mobile-web-app-capable" content="yes" />
	<title>房东</title>
	<link rel="stylesheet" href="../../public/css/base.css">
	
</head>
<body>
	<header class="pos-rel top-header">
		<a href="../center/my-center.html" class="top_back pos-abs"></a>
		<p class="top_tit">公告</p>
		<div class="right_menu pos-abs">
			<div class="top_nav">
				<a class="nav_item">我的订单</a>
				<a class="nav_item">个人中心</a>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class=" mg-t-10 ">
			<ul class="border-t">
				<li class="bg-white border-b pd-10">
					<p class="fc-6 lh-24">
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
					</p>
					<p class="fc-9 fs-12">
						2015-12-15
					</p>
				</li>
				<li class="bg-white border-b pd-10">
					<p class="fc-6 lh-24">
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
					</p>
					<p class="fc-9 fs-12">
						2015-12-15
					</p>
				</li>
				<li class="bg-white border-b pd-10">
					<p class="fc-6 lh-24">
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
						我是公告我是公告我是公告我是公告我是公告我是公告我是公告
					</p>
					<p class="fc-9 fs-12">
						2015-12-15
					</p>
				</li>
			</ul>
			
		</div>
		
	</div>
	
	<script src="../../public/js/jquery-1.11.3.min.js"></script>
	<script src="../../public/js/page/common.js"></script>
	
</body>
</html>