.income_detail_lists .list_item {
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  background: #fff;
  position: relative; }
  .income_detail_lists .list_item p {
    line-height: 28px; }
  .income_detail_lists .list_item .count {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%); }