*{margin:0;padding:0;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body{font:14px "Microsoft YaHei",Helvetica,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\5b8b\4f53,Arial,sans-serif;background:#f2f2f2;
margin:0 auto;}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none}
img{border:0}
input,img{vertical-align:middle}
input,select,textarea{outline:0;/*-webkit-appearance:none*/;box-shadow:none;-webkit-box-shadow:none;}

a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);color:#333;}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0);color:#333;}

input,select,textarea{
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	background-color:transparent;
	box-shadow:none;
	-webkit-box-shadow:none;
}
$radioSize:18px;

input[type='radio'],input[type='checkbox']{
	display:inline-block;
	height:$radioSize;
	width:$radioSize;
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	background-color:transparent;
	border:0;
	box-shadow:none;
	-webkit-box-shadow:none;
	background-image:url(../images/check_off.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
input[type='checkbox']:checked{
	background-image:url(../images/check_on.png);
}
input[type='radio']:checked{
	background-image:url(../images/radio_on.png);
}
